version: '3.8'

services:
  db:
    image: postgres:17-alpine
    container_name: re_note_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api-server:
    build: ./apps/api-server
    container_name: re_note_backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL} 
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db
    volumes:
      - ./apps/api-server:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  postgres_data: